{% extends "layout/layout.html" %}
{% load static %}

{% block content %}

    <section id="login-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col d-flex align-items-center justify-content-lg-center align-items-lg-center full-height">
                    <div>
                        <h2>Hi, Welcome Back!</h2>
                        <hr>
                        <p>Enter your credentials to manage iPay plugins.</p>
                        <form role="form" action="{% url 'signin' %}" method="POST" autocomplete="on">
                            {% if form.errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger py-1">
                                        <em>{{ error|escape }}</em>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {% csrf_token %}
                            <div class="form-group">
                                <label>Your Email</label>
                                <input class="form-control" type="email" name="email" placeholder="noreply@gmail.com" autocomplete="on" required="">
                            </div>
                            <div class="form-group">
                                <label>Your Password</label>
                                <input class="form-control" type="password" name="password" placeholder="At least 8 characters" required="" minlength="8">
                                <button class="btn btn-primary btn-block my-4 custom-primary-button"
                                    type="submit">Sign in</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col d-none d-md-block d-lg-block d-xl-block bg-light">
                    <div class="d-lg-flex flex-column justify-content-lg-center align-items-lg-center full-height"><img src="https://www.ipayafrica.com/drupal/sites/default/files/logo-45-percent_0.svg" width="30%">
                        <h2>Payments Made Easy</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}