{% extends "layout/layout.html" %}
{% load static %}

{% block content %}
    {% include "layout/navbar.html" %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-center">Plugins</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#" style="text-decoration: none;">
                        <div id="plugin-info" class="p-2 my-2 bg-white plugin-info">
                            <div class="row">
                                <div class="col-4"><img class="img-thumbnail" src="https://www.ipayafrica.com/drupal/sites/default/files/moodle-logo.png"></div>
                                <div class="col">
                                    <h5>Moodle</h5><span>v1.0.1</span></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" style="text-decoration: none;">
                        <div id="plugin-info" class="p-2 my-2 bg-white">
                            <div class="row">
                                <div class="col-4"><img class="img-thumbnail" src="https://www.ipayafrica.com/drupal/sites/default/files/abantecart.png"></div>
                                <div class="col">
                                    <h5>AbanteCart</h5><span>v1.3.1</span></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" style="text-decoration: none;">
                        <div id="plugin-info" class="p-2 my-2 bg-white">
                            <div class="row">
                                <div class="col-4"><img class="img-thumbnail" src="https://www.ipayafrica.com/drupal/sites/default/files/prestashop.png"></div>
                                <div class="col">
                                    <h5>Prestashop</h5><span>v2.0.1</span></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" style="text-decoration: none;">
                        <div id="plugin-info" class="p-2 my-2 bg-white">
                            <div class="row">
                                <div class="col-4"><img class="img-thumbnail" src="https://www.ipayafrica.com/drupal/sites/default/files/hikashop.png"></div>
                                <div class="col">
                                    <h5>HikaShop</h5><span>v1.3.1</span></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" style="text-decoration: none;">
                        <div id="plugin-info" class="p-2 my-2 bg-white">
                            <div class="row">
                                <div class="col-4"><img class="img-thumbnail" src="https://www.ipayafrica.com/drupal/sites/default/files/prestashop.png"></div>
                                <div class="col">
                                    <h5>Prestashop</h5><span>v2.0.1</span></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
