body {
  font-family: Bitter, serif;
}

.full-height {
  min-height: 100vh;
}

#custom-navbar {
  border-radius: 5px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 5px 40px 5px rgba(0,0,0,0.15);
  box-shadow: 0px 5px 40px 5px rgba(0,0,0,0.15);
}

#plugin-info {
  line-height: 0.7;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 7px;
  color: initial;
  transition: all .2s ease-in-out;
  -webkit-box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.1);
}

#plugin-info:hover {
  transform: scale(1.03);
}

.blink {
  animation: blinker 2.3s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.progress.custom-progress {
  height: 3px;
}

.text-primary {
  color: #175DC6 !important;
}

.bg-primary {
  background-color: #175DC6!important;
}

#platform-image {
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 7px;
}

.custom-primary-button {
  background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%);
  transition: 0.5s;
  border: none;
  color: white;
  box-shadow: 0 0 20px #eee;
  display: block;
  background-size: 200% auto;
}

.custom-primary-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.custom-primary-button:focus {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 0 .3rem rgb(255, 168, 150);
}

.testing-info {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 7px;
  color: initial;
  transition: all .2s ease-in-out;
  -webkit-box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.1);
}

.testing-info:hover {
  transform: scale(1.03);
}

