{% extends "layout/layout.html" %}
{% load static %}

{% block content %}
    {% include "layout/navbar.html" %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-center">Do you want to delete this platform?</h3>
                </div>
            </div>
            <form role="form" method="POST" autocomplete="on">
                
                <div class="form-row my-3 justify-content-center">
                    <div class="col-md-6">

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger py-1">
                                        <em>{{ error|escape }}</em>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>

                {% csrf_token %}

                <div class="form-row justify-content-center">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" type="text" name="name" placeholder="Woocommerce" value="{{ object.name |default_if_none:'' }}" 
                                disabled>
                        </div>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Platform image url</label>
                            <input class="form-control" type="url" name="image" placeholder="https://filestorage.com/woocommerce.png"
                                value="{{ object.image |default_if_none:'' }}" disabled>
                        </div>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="col-6 col-md-3">
                        <a class="btn btn-light btn-block my-4" role="button" href="{% url 'platforms' %}">
                            <i class="fas fa-long-arrow-alt-left mr-2 text-primary"></i>View plugins</a>
                    </div>
                    <div class="col-6 col-md-3">
                        <button class="btn btn-primary btn-block my-4 custom-primary-button" type="submit">Delete plugin</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}
