{% extends "layout/layout.html" %}
{% load static %}

{% block content %}
    {% include "layout/navbar.html" %}


    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-center">Platforms</h3>
                </div>
            </div>
            <div class="row">

                {% if platform_list %}
                    {% for platform in platform_list %}
                        <div class="col-md-4">
                            <div id="plugin-info" class="p-2 my-2 bg-white plugin-info">
                                <div class="row">
                                    <div class="col-4">
                                        <img class="img-thumbnail" src="{{ platform.image }}"/>
                                    </div>
                                    <div class="col pl-0">
                                        <h5>{{ platform }}</h5>
                                        <span class="mr-3">
                                            <a href="{% url 'update-platform' pk=platform.pk %}">Update</a>
                                        </span>
                                        <span class="mr-3">
                                            <a href="{% url 'delete-platform' pk=platform.pk %}">Delete</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                
                {% else %}
                    <div class="col">
                        <div class="alert alert-primary text-center">
                            <p>There are no platforms. Click Add Platform to create one</p>
                        </div>
                    </div>
                {% endif %}
            
            </div>
            <div class="row justify-content-between my-5">
                <div class="col-6 col-md-4">
                    <a class="btn btn-light btn-block my-4" role="button" href="{% url 'plugins' %}">
                        <i class="fas fa-long-arrow-alt-left mr-2 text-primary"></i>Back
                    </a>
                </div>

                <div class="col-6 col-md-4">
                    <a class="btn btn-primary btn-block my-4 custom-primary-button" role="button" href="{% url 'create-platform' %}">Add Platform</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
