{% extends "layout/layout.html" %}
{% load static %}

{% block content %}
    {% include "layout/navbar.html" %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-center">{{ plugin_name }} Versions</h3>
                </div>
            </div>
            <div class="row">
                {% if versions %}

                    {% for version in versions %}
                        <div class="col-md-4">
                            <a href="{% url 'version-details' pk=version.pk %}" style="text-decoration: none;">
                                <div id="plugin-info" class="p-3 my-2">
                                    <p>
                                        {% if version.active %}
                                            <i class="fas fa-circle fa-xs blink mr-2 text-primary"></i>
                                        {% endif %}
                                        Version: {{ version.version_number }}
                                    </p>
                                    <div class="progress custom-progress">
                                        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" aria-valuenow="{{ version.test_percentage|default_if_none:'0'}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ version.test_percentage|default_if_none:'0'}}%;">
                                            <span class="sr-only">{{ version.test_percentage|default_if_none:'0'}}%</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                {% else %}
                    <div class="col">
                        <div class="alert alert-primary text-center">
                            <p>The specified repository has no versions</p>
                        </div>
                    </div>
                    
                {% endif %}
                
            </div>


            <div class="row justify-content-between my-5">
                <div class="col-6 col-md-4">
                    <a class="btn btn-light btn-block custom-primary-button my-4" role="button" href="{% url 'plugins' %}">
                        <i class="fas fa-long-arrow-alt-left mr-2 text-white"></i>Back
                    </a>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
