{% extends "layout/layout.html" %}
{% load static %}

{% block content %}
    {% include "layout/navbar.html" %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-center">Plugins</h3>
                </div>
            </div>
            <div class="row">
                {% if plugins_info.items %}

                    {% for key, value in plugins_info.items %}
                        <div class="col-md-4">
                            <a href="{% url 'versions' plugin_name=key %}" style="text-decoration: none;">
                                <div id="plugin-info" class="p-2 my-2 bg-white plugin-info">
                                    <div class="row">
                                        <div class="col-4">
                                            <img class="img-thumbnail" style="max-height: 48.5px;"
                                                src='{{ value.platform_image | default_if_none:"https://www.ipayafrica.com/drupal/sites/default/files/logo-45-percent_0.svg"}}'>
                                        </div>
                                        <div class="col pl-0">
                                            <h5>{{ key|slice:"18" }}{% if key|length > 18 %}...{% endif %}</h5>
                                            <span>
                                                {% if value.active_version == None %}
                                                    No active version
                                                {% else %}
                                                    {{ value.active_version }}
                                                {% endif %}
                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                {% else %}
                    <div class="col">
                        <h4 class="text-center text-danger">The specified Github account has no repositories</h4>
                    </div>
                {% endif %}

            </div>
        </div>
    </section>

{% endblock %}
