{% extends "layout/layout.html" %}
{% load static %}

{% block content %}
    {% include "layout/navbar.html" %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <div class="row">
                            <div class="col-5">
                                <div id="platform-image" style="background-image: url(&quot;{{ version_data.platform_image }}&quot;);"></div>
                            </div>
                            <div class="col">
                                <h3> {{ version_data.repository_name }}</h3>
                                <p>Version: {{ version_data.version_number }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-light btn-block my-2" role="button" href="{{ version_data.download_link }}">
                        <i class="fas fa-download mr-2 text-primary"></i>Download plugin&nbsp;
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-light btn-block my-2" role="button" href="{{ version_data.code_link }}" target="_blank">
                        <i class="fas fa-code-branch mr-2 text-primary"></i>View code</a>
                </div>
                <div class="col-md-4"><a class="btn btn-light btn-block my-2" role="button"><i class="fas fa-tasks mr-2 text-primary"></i>View tests</a></div>
            </div>
        </div>
    </section>


    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4>Details</h4>
                    <hr>
                </div>
            </div>
            <form role="form" method="POST">

                <div class="form-row justify-content-center">
                    <div class="col-md-6">

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger py-1">
                                        <em>{{ error|escape }}</em>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>

                {% csrf_token %}

                <div class="form-row">
                    <div class="col-12">
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group mx-2">
                                    <label>Plugin name</label>
                                    <input class="form-control" type="text"
                                        name="plugin_name" placeholder="No plugin specified" value="{{ version_data.plugin_name|default_if_none:'' }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mx-2">
                                    <label>Platform</label>
                                    <select class="custom-select" name="platform">
                                        {% for platform in platforms %}
                                            {% if platform == version_data.platform_name %}
                                                <option value="{{ platform }}" selected="">{{ platform }}</option>
                                            {% else %}
                                                <option value="{{ platform }}">{{ platform }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="form-group mx-2">
                                    <label>Author email</label>
                                    <input class="form-control" type="email" name="email" value="{{ version_data.author_email|default_if_none:''}}" 
                                        placeholder="No email specified">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mx-2">
                                    <label>Set security version</label>
                                    <select class="custom-select" name="security_version">
                                        {% for version in version_data.related_versions %}
                                            {% if version_data.securtiy_version == version_data.version_number %}
                                                <option value="{{ version }}" selected="">{{ version }}</option>
                                            {% else %}
                                                <option value="{{ version }}">{{ version }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <small class="form-text text-muted">The version that fixes bugs/errors in this version</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mx-2">
                                    <label>Set as current version</label>
                                    <select class="custom-select" name="activate">
                                        {% if version_data.active == True %}
                                            <option value="True" selected="">Activate</option>
                                            <option value="False">Deactivate</option>
                                        {% else %}
                                            <option value="False" selected="">Deactivate</option>
                                            <option value="True">Activate</option>
                                        {% endif %}
        
                                    </select>
                                    <small class="form-text text-muted">Activating a version sets it as the default users receive on updates.<br></small>
                                </div>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="col-md-8">
                                <div class="form-group mx-2">
                                    <label>Notes</label>
                                    <small class="form-text text-muted">Use this to explain what this version solves, the bugs, or new features added.</small>
                                    <textarea class="form-control" rows="10" name="notes" placeholder="No notes specified" >{{ version_data.notes|default_if_none:'' }}</textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-row justify-content-between">
                    <div class="col-6 col-md-4">
                        <a class="btn btn-light btn-block my-4" role="button" href="{% url 'plugins' %}">
                            <i class="fas fa-long-arrow-alt-left mr-2 text-primary"></i>View plugins</a>
                    </div>
                    <div class="col-6 col-md-4">
                        <button class="btn btn-primary btn-block my-4 custom-primary-button" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}
