<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>iPay Plugins {{ title }}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/fonts/fontawesome-all.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/styles.css' %}" />

</head>

<body>

    {% block content %}
    <!-- body content -->
    {% endblock %}

    {% block scripts %}
        
    {% endblock %}

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

</body>

</html>