<section class="pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-light navbar-expand-md" id="custom-navbar">
                    <div class="container-fluid"><img src="https://www.ipayafrica.com/drupal/sites/default/files/logo-45-percent_0.svg" height="35">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" role="presentation">
                                <a class="btn btn-light" role="button" href="{% url 'platforms' %}"><i class="fas fa-plus mr-2"></i>Platforms</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
